:root {
  --primary-color: #007bff;
  --background-gradient-start: #b6a1cc;
  --background-gradient-end: #2575fc;
  --login-form-background: rgba(255, 255, 255, 0.2); /* For a frosted glass look */
  --login-btn-hover-color: #0056b3;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, var(--background-gradient-start), var(--background-gradient-end));
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.login-form-container {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: var(--login-form-background);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.login-form h2 {
  margin-bottom: 30px;
}

.login-form input {
  width: calc(100% - 24px); /* Adjust width based on padding */
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-top: 6px;
  box-sizing: border-box;
  transition: 0.3s;
}

.login-form input:focus {
  outline: none;
  box-shadow: 0 0 8px var(--primary-color);
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: var(--login-btn-hover-color);
}

#signInDiv {
  margin-top: 20px;
}

.separator {
  margin: 20px 0;
  text-align: center;
}
.info-container {
  display: flex;
  justify-content: space-between;
  
  
}

.weather-display {
  flex: 1;
  margin-right: 10px; /* Adjust margin as needed */
}

.health-tips {
  flex: 1;
  margin-left: 10px; /* Adjust margin as needed */
}


.info-display {
  display: flex;
  justify-content: space-around; /* Ensures equal spacing around items */
  align-items: start; /* Aligns items to the top of the container */
  flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
  padding: 20px; /* Adds padding around items */
  width: 800px; /* Set a static width */
  margin: 0 auto; 
  
  
}


