.health-tips {
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 45%; /* Specific width */
    height: 330px; /* Specific height */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .health-tips h2 {
    color: #333;
  }
  
  .health-tips ul {
    list-style-type: none;
    padding: 0;
  }
  
  .health-tips li {
    margin-bottom: 10px;
    color: #666;
  }
  
  