.success-box {
    margin: 1em 0;
    padding: 1em;
    background-color: #ddffdd; /* Light green background */
    border: 1px solid #00cc00; /* Green border */
    color: #4F8A10; /* Darker green text color */
    text-align: center;
}

.error-box {
    margin: 1em 0;
    padding: 1em;
    background-color: #ffdddd; /* Light red background */
    border: 1px solid #ff0000; /* Red border */
    color: #d8000c; /* Darker red text color */
    text-align: center;
}